<p>admin-orders works!</p>
<div class="container mt-4">
  <h1>Orders</h1>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{ order.shipping.name }}</td>
        <td>{{ order.datePlaced | date:'shortDate' }}</td>
        <td>
          <a [routerLink]="['/admin/orders/', order.key]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>