<div class="container">
  <h1>Shopping Cart</h1>
  <p>You have {{ totalItemsCount }} items in your shopping cart.</p>
  <button (click)="clearCart()" class="btn btn-light btn-sm mb-3">Clear Shopping Cart</button>

  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-end">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.product.title }}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-end">{{ (item.product.price * item.quantity) | currency:'USD' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="fw-bold">
        <td>Total</td>
        <td></td>
        <td class="text-end">{{ totalPrice | currency:'USD' }}</td>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out" class="btn btn-primary">Check Out</a>
</div>